## chapter2 : unix command

In [ ]:
!wget https://nlp100.github.io/data/popular-names.txt -O popular-names.txt

--2024-07-26 13:36:26--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt’

popular-names.txt   100%[===================>]  53.74K  --.-KB/s    in 0.01s

2024-07-26 13:36:26 (4.24 MB/s) - ‘popular-names.txt’ saved [55026/55026]

## Count the number of lines of the file. Confirm the result by using wc command.

In [ ]:
!wc -l popular-names.txt

2780 popular-names.txt

## 11. Replace tabs into spaces
Replace every occurrence of a tab character into a space. Confirm the result by using sed, tr, or expand command:

In [ ]:
!sed 's/\t/ /g' popular-names.txt > output.txt
# or
!tr '\t' ' ' < popular-names.txt > output.txt
# or
!expand -t 1 popular-names.txt > output.txt

## 12. col1.txt from the first column, col2.txt from the second columnPermalink
Extract the value of the first column of each line, and store the output into col1.txt. Extract the value of the second column of each line, and store the output into col2.txt. Confirm the result by using cut command.

In [ ]:
!cut -f 1 popular-names.txt > col1.txt
!cut -f 2 popular-names.txt > col2.txt

## 13. Merging col1.txt and col2.txt
Join the contents of col1.txt and col2.txt, and create a text file whose each line contains the values of the first and second columns (separated by tab character) of the original file. Confirm the result by using paste command.

In [ ]:
!paste col1.txt col2.txt > merged.txt

## 14. First N lines
Receive a natural number $N$ from a command-line argument, and output the first $N$ lines of the file. Confirm the result by using head command.

In [ ]:
!head -n 5 popular-names.txt  # Replace 5 with  desired number of lines

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. Last N linesPermalink
Receive a natural number $N$ from a command-line argument, and output the last $N$ lines of the file. Confirm the result by using tail command

In [ ]:
!tail -n 5 popular-names.txt  # Replace 5 with  desired number of lines

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. Split a file into N pieces
Receive a natural number $N$ from a command-line argument, and split the input file into $N$ pieces at line boundaries. Confirm the result by using split command

In [ ]:
!split -n l/5 popular-names.txt popular-names_part  # Replace 5 with desired number of pieces

## 17. Distinct strings in the first column
Find distinct strings (a set of strings) of the first column of the file. Confirm the result by using cut, sort, and uniq commands.

In [ ]:
!cut -f 1 popular-names.txt | sort | uniq

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela
Anna
Annie
Anthony
Ashley
Austin
Ava
Barbara
Benjamin
Bertha
Bessie
Betty
Brandon
Brian
Brittany
Carol
Carolyn
Charles
Charlotte
Chloe
Christopher
Clara
Crystal
Cynthia
Daniel
David
Deborah
Debra
Donald
Donna
Doris
Dorothy
Edward
Elijah
Elizabeth
Emily
Emma
Ethan
Ethel
Evelyn
Florence
Frances
Frank
Gary
George
Hannah
Harper
Harry
Heather
Helen
Henry
Ida
Isabella
Jacob
James
Jason
Jayden
Jeffrey
Jennifer
Jessica
Joan
John
Joseph
Joshua
Judith
Julie
Justin
Karen
Kathleen
Kelly
Kimberly
Larry
Laura
Lauren
Liam
Lillian
Linda
Lisa
Logan
Lori
Lucas
Madison
Margaret
Marie
Mark
Mary
Mason
Matthew
Megan
Melissa
Mia
Michael
Michelle
Mildred
Minnie
Nancy
Nicholas
Nicole
Noah
Oliver
Olivia
Pamela
Patricia
Rachel
Rebecca
Richard
Robert
Ronald
Ruth
Samantha
Sandra
Sarah
Scott
Sharon
Shirley
Sophia
Stephanie
Steven
Susan
Tammy
Taylor
Thomas
Tracy
Tyler
Virginia
Walter
William

## 18. Sort lines in descending order of the third column
Sort the lines in descending numeric order of the third column (sort lines without changing the content of each line). Confirm the result by using sort command.

In [ ]:
!sort -k 3,3nr popular-names.txt > sorted.txt

## 19. Frequency of a string in the first column in descending order
Find the frequency of a string in the first column, and sort the strings by descending order of their frequencies. Confirm the result by using cut, uniq, and sort commands.

In [ ]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -k 1,1nr

    118 James
    111 William
    108 John
    108 Robert
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret
     58 George
     58 Thomas
     57 David
     51 Richard
     45 Helen
     43 Christopher
     43 Frank
     41 Anna
     40 Edward
     39 Ruth
     38 Patricia
     37 Matthew
     36 Dorothy
     35 Emma
     32 Barbara
     31 Daniel
     31 Joshua
     26 Emily
     26 Jennifer
     26 Linda
     26 Sarah
     25 Jacob
     25 Jessica
     24 Betty
     24 Mildred
     24 Susan
     23 Ashley
     23 Henry
     22 Nancy
     21 Andrew
     20 Amanda
     20 Donald
     20 Florence
     20 Marie
     19 Samantha
     18 Karen
     18 Lisa
     18 Madison
     18 Melissa
     18 Olivia
     17 Abigail
     17 Stephanie
     16 Ethel
     16 Mark
     16 Sandra
     15 Angela
     15 Carol
     15 Ethan
     15 Frances
     15 Heather
     15 Isabella
     15 Michelle
     14 Amy
     14 Ava
     14 Kimberly
     14 Shirley
     13 Brian
     13 Deborah
     13 Hannah
     13 Jason
     13 Nicole
     13 Sophia
     13 Virginia
     12 Bertha
     12 Donna
     12 Minnie
     11 Cynthia
     10 Alice
     10 Brittany
     10 Doris
     10 Mia
     10 Nicholas
     10 Noah
     10 Ronald
      9 Debra
      9 Joan
      9 Tyler
      8 Alexander
      8 Alexis
      8 Clara
      8 Ida
      8 Judith
      8 Mason
      8 Taylor
      7 Brandon
      7 Harry
      7 Liam
      7 Sharon
      7 Steven
      7 Tammy
      6 Anthony
      5 Annie
      5 Charlotte
      5 Gary
      5 Jayden
      5 Jeffrey
      4 Austin
      4 Benjamin
      4 Chloe
      4 Justin
      4 Kathleen
      4 Lillian
      3 Aiden
      3 Elijah
      3 Evelyn
      3 Harper
      3 Megan
      2 Amelia
      2 Bessie
      2 Larry
      2 Lauren
      2 Logan
      2 Oliver
      2 Rebecca
      1 Carolyn
      1 Crystal
      1 Julie
      1 Kelly
      1 Laura
      1 Lori
      1 Lucas
      1 Pamela
      1 Rachel
      1 Scott
      1 Tracy
      1 Walter